<MudNavMenu Class="nav-menu">
    <MudNavLink Class="nav-link" Href="/" Match="NavLinkMatch.All">
        <MudIcon Icon="@Icons.Material.Filled.Home" Class="nav-icon" />
        <span class="nav-text">Dashboard</span>
    </MudNavLink>
    <MudNavLink Class="nav-link" Href="/location" Match="NavLinkMatch.Prefix">
        <MudIcon Icon="@Icons.Material.Filled.LocationOn" Class="nav-icon" />
        <span class="nav-text">Location Manager</span>
    </MudNavLink>
    <MudNavLink Class="nav-link" Href="/analytics" Match="NavLinkMatch.Prefix">
        <MudIcon Icon="@Icons.Material.Filled.Analytics" Class="nav-icon" />
        <span class="nav-text">Analytics</span>
    </MudNavLink>
    <MudNavLink Class="nav-link" Href="/nightplanner" Match="NavLinkMatch.Prefix">
        <MudIcon Icon="@Icons.Material.Filled.Map" Class="nav-icon" />
        <span class="nav-text">Night planner</span>
    </MudNavLink>
    <MudNavLink Class="nav-link" Href="/about" Match="NavLinkMatch.Prefix">
        <MudIcon Icon="@Icons.Material.Filled.Info" Class="nav-icon" />
        <span class="nav-text">About</span>
    </MudNavLink>
</MudNavMenu>

<style>
    .nav-icon {
        margin-right: 8px;
    }

    .nav-text {
        font-size: 14px;
    }
</style>
